@page
@model RazorPageApp.Areas.Manage.Pages.Categories.EditModel
@{
    ViewData["Title"] = "Manage Categories";
    ViewData["ActivePage"] = ManageNavPages.CategoryIndex;
}

<h3>@ViewData["Title"]</h3>
<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Category.Id" />
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}