@page
@model RazorPageApp.Pages.Shop.Checkout.IndexModel
@{
    ViewData["Title"] = "Checkout";
}
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form method="post">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input asp-for="BillingAddress.FirstName" class="form-control" placeholder="John" required />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input asp-for="BillingAddress.LastName" class="form-control" placeholder="Doe" required />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input asp-for="BillingAddress.Email" type="'email'" class="form-control" placeholder="example@email.com" required />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input asp-for="BillingAddress.Mobile" class="form-control" required placeholder="+45 88 88 88 88" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input asp-for="BillingAddress.Street" class="form-control" required placeholder="Mongolvej 69" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input asp-for="BillingAddress.Street2" class="form-control" placeholder="Mongolvej 69" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select asp-for="BillingAddress.CountryId" asp-items="Model.Countries" required class="form-control"></select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input asp-for="BillingAddress.City" class="form-control" required placeholder="Sønderborg" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input asp-for="BillingAddress.ZipCode" class="form-control" required placeholder="6400" />
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto" data-bs-toggle="collapse" data-bs-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input asp-for="ShippingAddress.FirstName" class="form-control" placeholder="John" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input asp-for="ShippingAddress.LastName" class="form-control" placeholder="Doe" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input asp-for="ShippingAddress.Email" type="'email'" class="form-control" placeholder="example@email.com" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input asp-for="ShippingAddress.Mobile" class="form-control" placeholder="+45 88 88 88 88" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input asp-for="ShippingAddress.Street" class="form-control" placeholder="Mongolvej 69" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input asp-for="ShippingAddress.Street2" class="form-control" placeholder="Mongolvej 69" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select asp-for="ShippingAddress.CountryId" asp-items="Model.Countries" class="form-control"></select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input asp-for="ShippingAddress.City" class="form-control" placeholder="Sønderborg" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input asp-for="ShippingAddress.ZipCode" class="form-control" placeholder="6400" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        @foreach (var basketItem in Model.BasketItems)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@basketItem.Product.Name</p>
                                <p>$@(basketItem.Product.Price * basketItem.QTY)</p>
                            </div>
                        }
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">$@Model.basket.Total</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$0</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">$@Model.basket.Total</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        @foreach (var paymentProvider in Model.PaymentProviders)
                        {
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-provider-@paymentProvider.Value" name="basket.PaymentProviderId" value="@paymentProvider.Value">
                                    <label class="custom-control-label" for="payment-provider-@paymentProvider.Value">@paymentProvider.Text</label>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->