@page
@model RazorPageApp.Areas.Manage.Pages.IndexModel
@{
    ViewData["Title"] = "Manage Eshopper Entities";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
