@page
@model RazorPageApp.Areas.Manage.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <input type="text" name="Name" />
    <input type="submit" name="submit" value="submit" />
</form>  
